@model BandTheBirdProj.Models.Researcher

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <body style="background-color: lightgrey">
        <h1>Create A Profile</h1>

        <hr />



        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ResearchSiteAddress" class="control-label"></label>
                        <input asp-for="ResearchSiteAddress" class="form-control" />
                        <span asp-validation-for="ResearchSiteAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ResearchSiteCity" class="control-label"></label>
                        <input asp-for="ResearchSiteCity" class="form-control" />
                        <span asp-validation-for="ResearchSiteCity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ResearchSiteState" class="control-label"></label>
                        <input asp-for="ResearchSiteState" class="form-control" />
                        <span asp-validation-for="ResearchSiteState" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ResearchSiteZip" class="control-label"></label>
                        <input asp-for="ResearchSiteZip" class="form-control" />
                        <span asp-validation-for="ResearchSiteZip" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for-"IdentityUserId" />

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-6">
                <div style="text-align: left">
                    <img src="~/SiteImages/gulls.jpg" width="800" height="500" />
                </div>

            </div>
        </div>    
    </body>


