@model BandTheBirdProj.Models.BandingViewModel

@{
    ViewData["Title"] = "FullDataSheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>FullDataSheet</h1>

<h4>BandingData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FullDataSheet">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BandingData.BandNumber" class="control-label"></label>
                <input asp-for="BandingData.BandNumber" class="form-control" />
                <span asp-validation-for="BandingData.BandNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BandingData.CaptureDate" class="control-label"></label>
                <input asp-for="BandingData.CaptureDate" class="form-control" />
                <span asp-validation-for="BandingData.CaptureDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BandingData.BanderIntials" class="control-label"></label>
                <input asp-for="BandingData.BanderIntials" class="form-control" />
                <span asp-validation-for="BandingData.BanderIntials" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BandingData.CaptureTime" class="control-label"></label>
                <input asp-for="BandingData.CaptureTime" class="form-control" />
                <span asp-validation-for="BandingData.CaptureTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BandingData.NetNumber" class="control-label"></label>
                <input asp-for="BandingData.NetNumber" class="form-control" />
                <span asp-validation-for="BandingData.NetNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BandingData.BandType" class="control-label"></label>
                <input asp-for="BandingData.BandType" class="form-control" />
                <span asp-validation-for="BandingData.BandType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BandingData.BandSize" class="control-label"></label>
                <input asp-for="BandingData.BandSize" class="form-control" />
                <span asp-validation-for="BandingData.BandSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BandingData.AlphaCode" class="control-label"></label>
                <input asp-for="BandingData.AlphaCode" class="form-control" />
                <span asp-validation-for="BandingData.AlphaCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BandingData.SpeciesName" class="control-label"></label>
                <input asp-for="BandingData.SpeciesName" class="form-control" />
                <span asp-validation-for="BandingData.SpeciesName" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for-"BandingData.IdentityUserId" />
            <div class="form-group">
                <label asp-for="BandingData.SiteId" class="control-label"></label>
                @Html.DropDownList("BandingData.SiteId", new SelectList(ViewBag.Sites, "SiteId", "SiteName"))
               
                <span asp-validation-for="BandingData.SiteId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for-"BandingData.SiteName" />
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

