
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <body style=" background-image: url('../SiteImages/sunrisebirds.jpg');">
        <h1 style="text-align: center; color: black; padding-top: 10px">Welcome Bander!</h1>



        <p style="color: black; text-align: center; font-size: 18px; padding-bottom: 40px; padding-top: 20px">
            <a asp-action="CreateBird">Enter Bird</a> |
            <a asp-action="ViewAllData">View All Data</a> |
            <a asp-action="ExportAllData">Export All Data</a> |
            <a asp-action="ExportTodayData">Export Today's Data</a> |
            <a asp-action="ExportEnvironment">Export Daily Data</a> |
            <a asp-action="UploadImage">Upload an Image</a> 
        </p>

        <h4 class="quote" style="text-align: center; color: black;">Birds....Are senstive indicators of the environment, a sort of "ecological litmus paper,"..The observation and 
        recording of bird populations over time lead inevitably to environmental awareness 
        and can signal impending changes. -Roger Tory Peterson</h4>
    </body>
