
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome Bander!</h1>

<h4>Birds....Are senstive indicators of the environment, a sort of "ecological litmus paper,"..The observation and recording of bird populations over time lead inevitably to environmental awareness and can signal impending changes. -Roger Tory Peterson</h4>

<p>
    <a asp-action="CreateBird">Enter Bird</a>
</p>