@{
    ViewData["Title"] = "Home Page";
}
    <body style="background-image: url('../SiteImages/pelicans.jpg');">
        
        <div>
            <h1 style="text-align: center; color: black" class="display-4">Band the Bird Research Tool</h1>
            @*<br /><br /><br /><br />      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />*@
            <p style="text-align: center; color: black; font-size: 16pt">
                A research tool designed to streamline data entry in the field
                <br />and minimize entry errors.
            </p>
        </div>
        <div>

        </div>

        <div>

        </div>

    </body>


